<ion-view>
    <ion-nav-title>
        About
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-ios-arrow-back" ui-sref="app.home"></button>
    </ion-nav-buttons>
    <ion-content class="about">
        <h3>Objektif</h3>
        <div>
            <p>Aplikasi ini berisi kumpulan nomor telepon darurat dan penting di Indonesia.
            Tujuannya untuk mempermudah dan membantu masyarakat ketika dalam keadaan darurat atau terancam bahaya.</p>
        </div>
       
        <h3>Contoh Kondisi :</h3>
        <div>
            <img src="img/kondisi-icon-about.png"/>
        </div>
        <h3>Tata Cara Penggunaan :</h3>
        <div>
            <img src="img/cara-guna-about.png" />
        </div>
        <div>
            <br />
            <p style="text-align:center">Powered By</p>
            <img src="img/logo-iglo.png"  style="width:40%; margin-bottom:35px;"/>
        </div>
    </ion-content>

</ion-view>