<ion-view view-title="Ganti Kata Sandi">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-ios-arrow-back" ui-sref="app.edit-profile"></button>
    </ion-nav-buttons>
    <ion-content class="signup">
        <form name="cpform">
            <!--<label>Kata Sandi Sekarang</label>
            <span style="color:#ffdc7d" ng-show="cpform.pass.$dirty && cpform.pass.$invalid">
                <span ng-show="cpform.pass.$error.required">*is required.</span>
            </span>
            <input name="pass" type="password" ng-model="change.password" required>-->
            <label>Kata Sandi Baru</label>
            <span style="color:#ffdc7d" ng-show="cpform.newpass.$dirty && cpform.newpass.$invalid">
                <span ng-show="cpform.newpass.$error.required">*is required.</span>
            </span>
            <input name="newpass" type="password" ng-model="change.newpass" required>
            <label>Konfirmasi Kata Sandi Baru</label>
            <input type="password" ng-model="change.confpass">
            <button ng-disabled="cpform.newpass.$dirty && cpform.newpass.$invalid"
                    class="button icon-right ion-chevron-right button-outline button-light" ng-click="save()">SIMPAN</button>
        </form>
    </ion-content>

</ion-view>