<ion-view cache-view="false">
    <ion-nav-title>
        Call
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-ios-arrow-back" ui-sref="app.private"></button>
    </ion-nav-buttons>
    <ion-content class="call">

        <h3>Keluarga</h3>
        <div id="div-2">
            <div class="list list-inset" style="width:85%">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search Here" ng-model="searchFilter">
                </label>
            </div>
        </div>
        <ion-list>

            <ion-item ng-repeat="telp in family | filter:searchFilter" class="listtransparan">
                <div>
                    <button class="button-clear btnfamily" ng-click="CallNumber(telp)">
                        <div>
                            <table class="tblfamily">
                                <tr>
                                    <td>
                                        <label>{{telp.Name}} </label>
                                    </td>
                                    <td rowspan="2">
                                        <img src="img/call_now.png" style="width:100%" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:right;padding-right:10px">
                                        <label>  {{telp.Phone}}</label>
                                    </td>
                                </tr>                        
                            </table>
                        </div>
                        <!--<table class="border:white solid 1px; tblicon" style="display:inline-block;">
                            <tr>
                                <td><i class="ion-chevron-right" style="color: white;"></i></td>
                            </tr>
                        </table>                        -->
                        <div>
                            <i class="ion-chevron-right"></i>
                        </div>
                    </button>
                </div>
                <ion-option-button ng-click="DeleteContact(telp)" class="btnslide"><i class="icon-left ion-chevron-left light"></i><p><i class="ion-trash-b"></i>Delete</p></ion-option-button>
                <ion-option-button ng-click="EditContact(telp)" class="btnslide"><p><i class="ion-android-create"></i>Edit</p></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>