<ion-view view-title="Login"> 
    <!--<ion-header-bar class="headerjudul"><p>LOGIN</p></ion-header-bar>-->
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-ios-arrow-back" ui-sref="app.home"></button>
    </ion-nav-buttons>
    <ion-content class="login">
        <div>            
        </div>
        <div>
            <img src="img/logo-tagline.png">
        </div>
        <div>
            <form>
                <label class="item item-input">
                    <i class="icon ion-person"></i>
                    <input type="email" placeholder="username@example.com" ng-model="user.username">
                </label>
                <label class="item item-input">
                    <i class="icon ion-locked"></i>
                    <input type="password" placeholder="Password" ng-model="user.password">
                </label>
                <br />
                <table>
                    <tr>
                        <td>
                            <button type="button" class="button icon-right ion-chevron-right button-outline button-light" ng-click="login(user.username,user.password)">Login</button>
                        </td>
                        <td>
                            <button class="button icon-right ion-chevron-right button-outline button-light" ui-sref="app.signup">Sign Up</button>
                        </td>
                    </tr>
                </table>
                <p>Forgot Password ?<a ng-click="forgotPass(user.username)">click here</a></p>
            </form>
        </div>
        <ion-footer-bar class="footerbar">
            <p>Version 0.1.2</p>
        </ion-footer-bar>
    </ion-content>
</ion-view>