<ion-view view title="">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="home has-header" ng-init="initial()">
       
        <div>
            <br />
            <img src="img/logo-tagline.png" />
           
        </div>

        <div id="div-2">
            <!--<div class="list list-inset" >
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search Now">
                </label>
            </div>-->
        </div>

        <div>
            <table>
                <tr>
                    <td>
                        <a ui-sref="app.emergency" class="button button-clear">
                            <img src="img/emergency-mainmenu.png">
                        </a>
                    </td>
                    <td>
                        <a ui-sref="app.important" class="button button-clear">
                            <img src="img/important-mainmenu.png">
                        </a>
                    </td>
                    <td>
                        <a ng-click="goToPrivate()" class="button button-clear">
                            <img src="img/private-mainmenu.png">
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="bar-footer">
            <p>
                Copyright  © 2016 PT. Indocyber Global Teknologi.<br />
                All right reserved.
            </p>
        </div>

    </ion-content>

</ion-view>