<ion-view view title="Important">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-ios-arrow-back" ui-sref="app.home"></button>
    </ion-nav-buttons>
    <ion-content class="private">
        <div class="tinggiprivate">
            <a class="button button-clear btnprivate" ui-sref="app.transport">
                <table class="tblprivate">
                    <tr>
                        <td>TRANSPORTASI</td>
                        <td rowspan="2">
                            <i class="ion-chevron-right"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Berisi nomor taksi, penerbangan, kereta, dan bis umum.
                        </td>
                    </tr>
                </table>
            </a>
        </div>
        <div class="tinggiprivate">
            <a class="button button-clear btnprivate" ng-click="showdetail('Makanan')">
                <table class="tblprivate">
                    <tr>
                        <td>MAKANAN</td>
                        <td rowspan="2">
                            <i class="ion-chevron-right"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Berisi nomor restoran siap saji yang dapat melayani pesan antar.</td>
                    </tr>
                </table>
            </a>
        </div>
        <div class="tinggiprivate">
            <a class="button button-clear btnprivate" ng-click="showdetail('Telekomunikasi')">
                <table class="tblprivate">
                    <tr>
                        <td>TELEKOMUNIKASI</td>
                        <td rowspan="2">
                            <i class="ion-chevron-right"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Berisi nomor operator selular bagian pelayanan pelanggan.</td>
                    </tr>
                </table>
            </a>
        </div>
        <div class="tinggiprivate">
            <a class="button button-clear btnprivate" ng-click="showdetail('Bank')">
                <table class="tblprivate">
                    <tr>
                        <td>BANK</td>
                        <td rowspan="2">
                            <i class="ion-chevron-right"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Berisi nomor operator bank bagian pelayanan pelanggan.</td>
                    </tr>
                </table>
            </a>
        </div>

    </ion-content>

</ion-view>