<ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">
            <!--<ion-nav-back-button >
            </ion-nav-back-button>-->

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>

        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" class="sidemenucontent sidemenu">
         
        <ion-content>
            <div class="sideprofile"  ng-show="isLogin" menu-close ui-sref="app.edit-profile">
                <div class="fotoprofile">
                    <img ng-src="{{profilePath}}"  >
                </div>
                <div class="infoprofile">
                    <p class="namaprofile">{{fullname}}</p>
                </div>
            </div> 
            <ion-list >
              
                <ion-item class="item-icon-left royal" menu-close ui-sref="app.home">
                    <i class="icon ion-android-home"></i>Home
                </ion-item>
                <ion-item class="item-icon-left item-icon-right royal" menu-close ui-sref="app.emergency">
                    <i class="icon ion-alert"></i>Emergency
                    <i class="icon ion-android-call"></i>
                </ion-item>
                <ion-item class="item-icon-left item-icon-right royal" menu-close ui-sref="app.important">
                    <i class="icon ion-bookmark"></i>Important
                    <i class="icon ion-android-call"></i>
                </ion-item>
                <ion-item class="item-icon-left item-icon-right royal" menu-close ng-click="goToPrivate()" >
                    <i class="icon ion-android-contacts"></i>Private
                    <i class="icon ion-android-call"></i>
                </ion-item>
                <ion-item class="item-icon-left royal" menu-close ui-sref="app.about" >
                    <i class="icon ion-android-clipboard"></i>About
                </ion-item>
                <ion-item class="item-icon-left assertive" menu-close ng-hide="isLogin" ui-sref="app.login">
                    <i class="icon ion-log-in"></i>Login
                </ion-item>
                <ion-item class="item-icon-left assertive" menu-close ng-show="isLogin" ng-click="logout()">
                    <i class="icon ion-log-out"></i>Logout
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
