<ion-view view-title="Edit Profile" cache-view="false">
    <ion-content class="profile">
      <div >
          <img ng-src="{{profilePath}}" id="user"/><br />
          <a class="button button-icon" ng-click="changePhoto()"><u>Ganti Foto</u></a>
      </div>
        <div>           
            <label class="item-icon-left item-icon-right">
                <i class="icon icon-profile"></i>           
                Jesslyn Aprilia
                <a class="button button-icon icon-edit"></a>
            </label>           
        </div>
        <div>
            <a class="button" href="#/change-pass">Ganti Kata Sandi</a>
        </div>
    </ion-content>

</ion-view>