<ion-view view title="Transportasi">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-ios-arrow-back" ui-sref="app.important"></button>
    </ion-nav-buttons>
    <ion-content class="important-2">
        <div>
            <button class="button button-clear" ng-click="showdetail('Taxi')">
                <table>
                    <tr>
                        <td>
                            <img src="img/taxi-icon.png"  />
                        </td>
                        <td>TAXI</td>
                        <td>
                            <i class="ion-chevron-right"></i>
                        </td>
                    </tr>
                </table>
            </button>
        </div>  
        <div>
            <button class="button button-clear" ng-click="showdetail('Bus')">
                <table>
                    <tr>
                        <td>
                            <img src="img/bus-icon.png" />
                        </td>
                        <td>BUS</td>
                        <td>
                            <i class="ion-chevron-right"></i>
                        </td>
                    </tr>
                </table>
            </button>
        </div>  
        <div>
            <button class="button button-clear" ng-click="showdetail('Pesawat')">
                <table>
                    <tr>
                        <td>
                            <img src="img/flight-icon.png" />
                        </td>
                        <td>PESAWAT</td>
                        <td>
                            <i class="ion-chevron-right"></i>
                        </td>
                    </tr>
                </table>
            </button>
        </div>  
        <div>
            <button class="button button-clear" ng-click="showdetail('Kereta')">
                <table>
                    <tr>
                        <td>
                            <img src="img/train-icon.png" />
                        </td>
                        <td>KERETA</td>
                        <td>
                            <i class="ion-chevron-right"></i>
                        </td>
                    </tr>
                </table>
            </button>
        </div>  
    </ion-content>

</ion-view>